body {
  overflow-x: hidden !important;
  position: relative;
}

section {
  padding: 0 1.0875rem 1.45rem;
}

#carousel {
  padding: 0 0 1.45rem 1.0875rem;
}

#about,
#packages {
  background: rgba(196, 196, 196, 0.1);
}

#packages {
  padding-top: 180px;
}

#webhosting,
#wordpress {
  margin-top: 100px;
}

#faq {
  margin-top: 410px;
  position: relative;
}

#hemsida {
  position: relative;
}

.faq__image-container {
  background: url("../../images/woman.png");
  width: 100%;
  height: 310px;
  background-position: top;
  position: absolute;
  left: 0%;
  bottom: 104%;
}
.hemsida__image-back {
  background: url("../../images/woman.png");
  width: 100%;
  height: 310px;

  position: absolute;
  left: 25%;
  bottom: -15%;
  background-repeat: no-repeat !important;
}

.faq__heading {
  font-weight: bold;
  font-size: 20px;
  line-height: 115.7%;
}

.faq__text {
  font-size: 16px;
  line-height: 147.7%;
  padding-bottom: 62px;
}

.faq__text-container {
  margin-left: 20px;
  margin-right: 15px;
}

.support__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & p:first-of-type {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  & p:nth-of-type(2) {
    font-size: 18px;
  }
  & a {
    font-size: 18px;
    color: #000;
    font-weight: 500;
  }
}

@media (min-width: 920px) {
  section {
    img:first-of-type,
    p:first-of-type {
      margin-left: 0 !important;
    }
  }
  #about,
  #packages {
    background: #fff;
  }
  .about-cards__container {
    display: flex;
  }
  .curve-img {
    display: none;
  }
  #packages {
    display: flex;
    justify-content: space-between;
  }
  .title p {
    font-size: 24px !important;
  }

  .title-second p,
  .title-third p,
  .title-fourth p {
    font-size: 54px !important;
  }

  .faq {
    &__heading {
      font-size: 24px;
    }
    &__text {
      font-size: 20px;
    }
    &__image-container {
      background: url("../../images/woman-desktop.png");
      width: 100%;
      height: 52%;
      bottom: 85%;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
