@import "../mixins.scss";

.about-card {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: rem(55px);
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__icon-container {
    width: rem(70px);
    height: rem(70px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(21px);
    background-color: #e5e5e5;
    & svg {
      fill: #1c5bff;
      width: rem(36px);
      height: rem(36px);
    }
  }
  &__heading {
    font-family: "Raleway";
    font-weight: bold;
    font-size: rem(16px);
    margin-bottom: rem(15px);
  }
  &__description {
    font-family: "Raleway";
    font-size: rem(16px);
    line-height: 147.7%;
  }
}

@media (min-width: 920px) {
  .about-card {
    &__container {
      margin-right: rem(66px);
      &:last-of-type {
        margin-right: 0;
      }
    }
    &__icon-container {
      background-color: #fff;
      box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.11);
    }
    &__heading {
      width: rem(180px);
      font-size: rem(20px);
      line-height: 95.7%;
    }
  }
}
