.header_desktop {
  display: none;
}
.header_mobile {
  display: flex !important;
  padding-left: 31px;
  padding-top: 22px;
  & img {
    margin: 0 0 0 10px;
  }
}

@media (min-width: 920px) {
  .header_mobile {
    display: none;
    & img {
      display: none;
    }
  }
  .header_desktop {
    display: flex;
    justify-content: space-between;
    max-width: 920px;
    margin: 0 auto;
  }
  .header__link_desktop:hover,
  .header__link_desktop:focus {
    color: #1c5bff !important;
    text-shadow: 0px 0px 24px rgba(28, 91, 255, 0.5);
  }
}
