.pricing-card{
    &__container{
        background: rgba(28, 91, 255, 0.05);
        border-radius: 8px;
        &_horizontal{
            display: flex;
            justify-content: space-around;
            padding-bottom: 1rem;
            padding-top: 1rem;
            & p{
                margin: 0;
            }
        }
    }
    &__row{
        display: flex;
        justify-content: space-between;
        margin: 0 28px;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        margin-bottom: 0;
        align-items: center;
        & p{
            margin-bottom: 0;
        }
    }
    &__column{
        display: flex;
        flex-direction: column;
    }
    &__line{
        &_vertical{
            border: 1px solid #D6D6D6;
            width: 80%;
            margin: 0 10%;
        }
        &_horizontal{
            border: 1px solid #E5E5E5;
        }
    }
}

@media(min-width: 920px){
    .pricing-card{
        &__container{
            background: #fff;
            &_horizontal{
                justify-content: space-evenly;
                padding-left: 170px;
            }
            &_vertical{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-left: 290px;
            }
        }
        &__row{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 28px;
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
            margin-bottom: 0;
            align-items: baseline;
            & p{
                margin-bottom: 0;
            }
            & p:first-child{
                font-size: 20px !important;
            }
            & p:last-of-type span:first-child{
                display: none;
            }
            & p:last-of-type span:nth-child(2){
                font-size: 54px !important;
            }
            & p:last-of-type span:nth-child(3){
                font-size: 16px !important;
            }
        }
        &__column{
            display: flex;
            flex-direction: column;
            & p:first-child{
                font-size: 20px !important;
            }
            & p:last-of-type span:first-child{
                display: none;
            }
            & p:last-of-type span:nth-child(2){
                font-size: 54px !important;
            }
            & p:last-of-type span:nth-child(3){
                font-size: 16px !important;
            }
        }
        &__line{
            &_vertical{
                display: none;
            }
            &_horizontal{
                display: none;
            }
        }
    }
}